/* ==========
GENERAL RULES
========== */

/* Page Heading font */
/*@font-face {*/
/*    font-family: titlehead;*/
/*    src: url(/assets/fonts/blueberry_days.ttf);*/
/*}*/
/*!* Main Font *!*/
/*@font-face {*/
/*    font-family: mainfont;*/
/*    src: url(/assets/fonts/Frogie-Regular.ttf);*/
/*}*/

@import url('https://fonts.googleapis.com/css2?family=Titan+One&display=swap');

/* Basic reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Set font-size to 62.5% to easy maintain that 10px = 1rem */
html {
    font-size: 62.5%;
}

body {
    background: -webkit-linear-gradient(90deg, rgb(31, 70, 144), rgb(35, 25, 85));
    background: linear-gradient(90deg, rgb(31, 70, 144), rgb(35, 25, 85));
    font-family: 'Titan One', cursive;
    color: #CAD6E8;
    line-height: 1.2;
    overflow: hidden;
}

.outer {
    padding: 9.6rem 0;
}

p {
    font-size: 1.8rem;
}

/* class for quick center the heading or paragraph */
.text-center {
    text-align: center;
}

/* Reusable grid template to be used in project */
.container {
    max-width: 100%;
    padding: 0 3.2rem;
    margin: 20px 10px;
    background-color: #1f4690;
    border: 2px solid #231955;
    border-radius: 1.5rem;
}

.grid {
    display: grid;
    column-gap: 6.4rem;
    row-gap: 9.6rem;
}

.grid-2-cols {
    grid-template-columns: repeat(2, 1fr);
}

.grid-3-cols {
    grid-template-columns: repeat(3, 1fr);
}

.grid-4-cols {
    grid-template-columns: repeat(4, 1fr);
}

.grid-5-cols {
    grid-template-columns: repeat(5, 1fr);
}

.left-col,
.right-col {
    padding: 4.8rem 0;
    display: grid;
    justify-content: center;
    align-items: center;
}

.heading {
    max-width: 130em;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title-head {
    font-family: 'Titan One', cursive;
    font-size: 9rem;
    color: #fbdb04;
    text-shadow: 5px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.logo {
    margin-right: 50px;
    height: 80px;
    width: 80px;
}

.intro-img {
    width: 100%;
}

.yellow-text {
    color: #fbdb04;
}

.buttons {
    display: flex;
    justify-content: space-around;
}

.btn {
    cursor: pointer;
    background-color: #1f3290;
    font-family: 'Titan One', cursive;
    font-size: 2.5rem;
    color: white;
    padding: 25px 35px;
    border: 3px solid #fafafa;
    border-radius: 25px;
    box-shadow: 0 15px 35px #231955;
}

.btn:hover {
    background-color: #fbdb04;
    color: #1f3290;
    border: 3px solid #231955;
}

.btn:active {
    transform: translateY(4px);
}

.level-img {
    width: 95%;
    filter: grayscale(80%);
}

.level-img:hover {
    cursor: pointer;
    filter: grayscale(0);
    transition: all .3s ease-in-out;
}

.level-div {
}

.level-div:hover {
    transition: all .3s ease-in-out;
    transform: scale(1.3);
    position: relative;
    z-index: 1;
}

.slider-container {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    overflow: hidden;
    width: 100%;
}

.slider-left-box,
.slider-right-box {
    width: 100%;
    padding: 20px;
    transition: transform 0.5s ease;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.slider-right-box {
    transform: translateX(100%);
}

.modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    background: rgba(31, 50, 144, 0.65);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.05);
    backdrop-filter: blur(30px);
    border: 1px solid black;
    border-radius: 15px;
    color: white;
}


.modal.visible {
    display: block;
}

.btn--close {
    cursor: pointer;
    float: right;
    margin: 5px 0;
    background-color: white;
    color: red;
}

.btn--close:hover {
    background-color: red;
    color: white;
}

.modal h2 {
    margin-top: 10px;
}


.game-container {
}

.top-div,
.middle-div,
.bottom-div {
    padding: 10px;
    margin: 15px 0;
}
.top-div {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.middle-div {
    align-items: center;
}

.pokemon {
    display: flex;
    justify-content: center;

}

.pokemon img {
    width: 60%;
    filter: grayscale(90%);
}

.pokemon img:hover {
    cursor: pointer;
    filter: grayscale(0);
    transition: all .3s ease-in-out;
}

.pokemon:hover {
    transition: all .3s ease-in-out;
    transform: scale(1.3);
    position: relative;
    z-index: 1;
    border: 1px solid #231955;
    border-radius: 50px;
}


.avatar {
    display: flex;
    justify-content: center;
}

.avatar img {
    width: 50%;
}

.rules-btn-game {
    /*position: absolute;*/
    /*right: 30px;*/
    /*padding: 10px;*/
    /*margin: 0 auto;*/
}

.score p {
    font-size: 3rem;
}
.player-score p {
    color: #41dc0d;
}

.cpu-score p {
    color: #9d0202;
}

.game-result {
    font-size: 4rem;
}